<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans 
           https://www.springframework.org/schema/beans/spring-beans.xsd">
           
          
          <bean id="cdib" class="com.nt.sbeans.question1.CyclicDI_B">
          	<!-- <constructor-arg name="cdiA" ref="cdia"></constructor-arg>  -->
          	<property name="cdiA" ref="cdia"/>
          </bean>
          <bean id="cdia" class="com.nt.sbeans.question1.CyclicDI_A">
          	<constructor-arg name="cdiB" ref="cdib"/>
          </bean>
</beans>