<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context.xsd">

           <bean id="engine" class="com.nt.sbeans.Engine">
           		<property name="hoursePower" value="120"/>
           </bean>
           
           <bean id="car" class="com.nt.sbeans.Car">
           		<property name="engine" ref="engine"/>
           		<property name="carName" value="BMW"/>
           		
           </bean>

</beans>
