<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context.xsd">

           <bean id="vechileType" class="com.nt.sbeans.VechileType">
           		<constructor-arg name="vechileType" value="Electric"/>
           		<constructor-arg name="vechileColor" value="Black"/>
           </bean>
           
           <bean id="electricCar" class="com.nt.sbeans.ElectricCar">
           		<constructor-arg name="carName" value="Tesla"/>
           		<constructor-arg name="vechileType" ref="vechileType"/>
           		
           </bean>

</beans>
